.RollDice {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}
.RollDice-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.RollDice button {
  cursor: pointer;
  width: 15em;
  padding: 1.5em;
  border: 0px;
  border-radius: 10px;
  color: white;
  background-color: grey;
  margin-top: 3em;
}

.RollDice button:hover {
  background-color: cornflowerblue;
}
